<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Figlet</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header-section">
    <div class="header">
        <strong>Figlet-web</strong>: A simple web interface to <a href="http://www.figlet.org/">Figlet</a>.
    </div>

    <form method="GET">
        <div class="form-group">
            <input class="form-element" id="text" type="text" name="text" value="{{ text }}"/>
            <input type="submit" value="Go!" />
        </div>
        <div class="try">Try:
        <a href="/?text=Hello, World 2!">Hello, world 2!</a>
        <a href="/?text=Figlet is awesome!">Figlet is awesome!</a>
        <a href="/?text=This too shall pass">This too shall pass</a>
        </div>
    </form>

    <div class="status">
        Figlet Font: {{font}}
    </div>
    </div>

    <pre class="figlet">
$ figlet "{{text}}"
{{ banner }}</pre>

    </div>
</body>
</html>
